<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>

        <!--使用JDBCd的GeneratedKeys获取数据库自增主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列标签替换列别名，默认：true-->
        <setting name="useColumnLabel" value="true"/>
        <!--开启驼峰命名转换：Table{create_time}->Entity{createTime}-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--延迟加载的全局开关。当开启时，所有关联对象都会延迟加载。 特定关联关系中可通过设置 fetchType 属性来覆盖该项的开关状态。-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--当开启时，任何方法的调用都会加载该对象的所有属性。 否则，每个属性会按需加载（参考 lazyLoadTriggerMethods)。-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <plugins>
        <!-- 4.0版本需要设置为<plugin interceptor="com.github.pagehelper.PageHelper">
        <dependency>
            <groupId>com.github.pagehelper</groupId>
            <artifactId>pagehelper</artifactId>
            <version>4.1.0</version>
        </dependency>
        5.0版本需要设置为<plugin interceptor="com.github.pagehelper.PageInterceptor">
        -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>
<!--    &lt;!&ndash; 对事务的管理和连接池的配置 &ndash;&gt;-->
<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="${db.driverClassName}"/>-->
<!--                <property name="url" value="${db.url}"/>-->
<!--                <property name="username" value="${db.username}"/>-->
<!--                <property name="password" value="${db.password}"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->
    <!-- mapping 文件路径配置 -->
<!--    <mappers>-->
<!--        <package name="com.henu.webao"/>-->
<!--    </mappers>-->
</configuration>